.bg {
  background-color: hsla(218, 0%, 100%, 1);
  background-image: radial-gradient(
      at 25% 40%,
      hsla(221, 33%, 57%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 99% 97%, hsla(342, 0%, 100%, 1) 0px, transparent 50%);
  height: 700px;
  position: relative;
  z-index: 999;
}
.card {
  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
}
.exchange {
  color: hsla(62, 74%, 91%, 1);
}
.img {
  position: absolute;
  z-index: 0;
  width: 100vw;
}
.i1 {
  position: absolute;
  width: 120px;
  height: 120px;
  z-index: 1;
  top: -70px;
  right: 500px;
  rotate: -20deg;
}
.i2 {
  position: absolute;
  width: 220px;
  height: 170px;
  z-index: 1;
  bottom: -265px;
  right: 690px;
}
.i3 {
  position: absolute;
  width: 200px;
  height: 170px;
  z-index: 1;
  bottom: -315px;
  right: 120px;
  rotate: -20deg;
}
